# Go build
/bin/
/tmp/
/db/
/cfg/
.cache/
.gocache/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go modules
/go.sum
/vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Env / Config
.env
.env.*

# Dependency managers
air.toml

# OS
.DS_Store
Thumbs.db
